<section class="custom-slideshow md:mx-[36px]">
  <div class="bg-[url('{{section.settings.main_bg_img | img_url : ''}}')] grid grid-flow-row justify-center content-end h-[300px] bg-no-repeat bg-cover text-center">
    <p class="text-[#F8F8F8] josefin subtitle">{{ section.settings.main_article_text }}</p>
  </div>
  <div class="grid grid-flow-row grid-cols-2 gap-0 text-center">
    {% for block in section.blocks %}
      <div class="bg-[url('{{block.settings.article_bg_img | img_url: ''}}')] bg-no-repeat bg-cover josefin text-[#F8F8F8] grid grid-flow-row justify-center content-end txt2 h-[180px] md:h-[380px]">
        <div>
          <p>{{ block.settings.article_title }}</p>
          <p>{{ block.settings.article_desc_text }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
{% schema %}
{
  "name": "Custom Slideshow",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "main_bg_img",
      "label": "Choose a background image"
    },
    {
      "type": "text",
      "id": "main_article_text",
      "label": "Input main text"
    }
  ],
  "blocks": [
    {
      "name": "product_grid",
      "type": "product_grid",
      "limit": 10,
      "settings": [
        {
          "type": "text",
          "id": "article_title",
          "label": "Input main article Title"
        },
        {
          "type": "image_picker",
          "id": "article_bg_img",
          "label": "Insert the background image"
        },
        {
          "type": "text",
          "id": "article_desc_text",
          "label": "Insert price or description of your product"
        }
      ]
    }
  ]
}
{% endschema %}
