<div class="bg-[url('{{section.settings.main_bg_img | img_url : ''}}')] h-[300px] bg-no-repeat bg-cover text-center">
  <p class="pt-[55%] text-[#F8F8F8] josefin subtitle">{{ section.settings.main_article_text }}</p>
</div>
<div class="grid grid-flow-col grid-cols-2 gap-0">
  {% for block in section.blocks %}
    <div class="bg-[url('{{block.settings.article_bg_img | img_url: ''}}')] bg-no-repeat bg-cover josefin text-[#F8F8F8] text-center pt-[65%] txt2 h-[180px]">
      <p>{{ block.settings.article_title }}</p>
      <p>{{ block.settings.article_desc_text }}</p>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "custom-slideshow",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "main_bg_img",
      "label": "Choose a background image"
    },
    {
      "type": "text",
      "id": "main_article_text",
      "label": "Input main text"
    }
  ],
  "blocks": [
    {
      "name": "product_grid",
      "type": "product_grid",
      "limit": 10,
      "settings": [
        {
          "type": "text",
          "id": "article_title",
          "label": "Input main article Title"
        },
        {
          "type": "image_picker",
          "id": "article_bg_img",
          "label": "Insert the background image"
        },
        {
          "type": "text",
          "id": "article_desc_text",
          "label": "Insert price or description of your product"
        }
      ]
    }
  ]
}
{% endschema %}
