<header class="bg-white h-20 flex items-center w-full z-[9999] md:px-[60px] lg:pr-[24px]" id="header">
  <nav class="justify-between container flex  md:w-full mx-auto w-11/12 main-nav items-center xl:max-w-[1200px]">
    <div class="burger">
      {% render 'burger-icon' %}
    </div>
    <div class="social-icons-container">
      <a href="">
        {%- render 'ig-icon' -%}
      </a>
      <a href="">
        {%- render 'fb-icon' -%}
      </a>
    </div>
    <div>
      <a href="{{ routes.root_url }}" class=" h-11">
        {%- if section.settings.logo != blank -%}
          {%- assign logo_alt = section.settings.logo.alt | default: shop.name | escape -%}
          {%- assign logo_height = section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio -%}
          {{
            section.settings.logo
            | image_url: width: section.settings.width
            | image_tag:
              class: 'header__heading-logo',
              widths: '50, 100, 150, 200, 250, 300, 400, 500',
              height: logo_height,
              width: section.settings.logo_width,
              alt: logo_alt
          }}
        {%- else -%}
          <span class="text-[#f8f8f8] font-open font-bold sm:text-5xl text-3xl">{{ section.settings.name }}</span>
        {%- endif -%}
      </a>
    </div>
    <div class="flex items-center gap-[16px]">
      <div class="nav-links">
        <div class="closeBurger pl-10 py-10 md:hidden">
          {% render 'close-icon' %}
        </div>
        <ul class="flex gap-14 flex-col md:mr-12 md:flex-row px-10 md:px-0 md:pt-0">
          {% for link in section.settings.menu_links %}
            <li class="group md:flex md:items-center">
              <a
                href="{{ link.url }}"
                class="text-[#f8f8f8] {% if link.current %}underline{% endif %} font-montserrat {% if link.links.size > 0 %}gap-2 flex md:gap-6 items-center accordion{% endif %} text-base font-medium"
                {% if link.current %}
                  aria-current="page"
                {% endif %}
              >
                {{ link.title | escape }}
                {% if link.links.size > 0 %}
                  <span class="transition-all duration-300 ease-in-out group-hover:rotate-180">
                    {%- render 'downicon' -%}
                  </span>
                {% endif %}
              </a>
              {% if link.links.size > 0 %}
                <div class="panel md:absolute md:z-10 md:right-0 md:font-bold md:transition-all md:duration-300 md:top-[8vh] md:top-[6vh] md:ease-in-out md:invisible md:opacity-0 md:group-hover:visible md:group-hover:opacity-100 md:shadow-ln md:rounded-b-cl md:w-full md:w-1/3">
                  <div class="flex flex-col gap-10 bg-primary {% if ex_section == false %}rounded-b-cl{% endif %} py-8 md:px-20">
                    {% for sublink in link.links %}
                      {% if sublink.links.size == 0 %}
                        <a href="{{ sublink.url }}" title="{{ sublink.title }}">
                          <p class="text-[#f8f8f8] font-montserrat hover:underline font-normal">{{ sublink.title }}</p>
                        </a>
                      {% else %}
                        <div class="divide-y divide-secondary">
                          <a href="{{ sublink.url }}" title="{{ sublink.title }}">
                            <p class="text-[#f8f8f8] text-[14px] md:text-xl">{{ sublink.title }}</p>
                          </a>
                          <div class="text-text mt-4 pt-4">
                            {% for item in sublink.links %}
                              <ul>
                                <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
                              </ul>
                            {% endfor %}
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
      <a href="#" class="md:mr-4 self-start hidden min-[500px]:!block">
        {%- render 'search-icon' -%}
      </a>
      <a href="#" class="md:mr-4 self-start hidden min-[500px]:!block">
        {% render 'user-icon' %}
      </a>
      <a
        href="{{ routes.cart_url }}"
        class="border-none inline-block pointer relative underline rounded-full md:h-[32px] md:w-[32px]"
      >
        {%- render 'icon-cart' -%}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        <div class="absolute bg-primary left-[15px] top-[-8px] cart-count-bubble flex h-[1.7rem] items-center justify-center leading-none left-[1rem] rounded-full text-[.9rem] text-[#f8f8f8] w-[1.7rem]">
          {%- if cart.item_count < 100 -%}
            <span aria-hidden="true" id="cart-counter">${ cartCount }</span>
          {%- endif -%}
        </div>
      </a>
      <div class="burger burger-tablet self-start">
        {%- render 'burger-icon' -%}
      </div>
    </div>
  </nav>
</header>
<style>
  .burger {
    display: block;
    padding: 0.5rem;
    cursor: pointer;
  }
  .burger-tablet {
    display: none;
    transform: rotateZ(180deg);
  }
  .social-icons-container {
    display: none;
  }
  @media screen and (min-width: 500px) {
    .burger {
      display: none;
    }
    .burger-tablet {
      display: block;
    }
    .social-icons-container {
      display: grid;
      grid-auto-flow: column;
      gap: 24px;
    }
  }
  @media (min-width: 768px) {
    .nav-links {
      display: flex;
      gap: 10px;
    }
  }
  .main-nav.show .nav-links {
    transform: translateX(0%);
  }
  @media screen and (max-width: 768px) {
    .nav-links {
      position: fixed;
      left: 0;
      height: 100vh;
      top: 0;
      z-index: 99;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      background: white;
      transform: translateX(-100%);
      transition: transform 1s ease;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    }
    .panel {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }
  }
  @media screen and (min-width: 1100px) {
    .burger-tablet {
      display: none;
    }
  }
</style>
<script>
  var { createApp } = Vue;

  const appHeader = createApp({
    delimiters: ['${', '}'],
    data() {
      const cartCount = 0;
      return {
        cartCount,
      };
    },
    created() {
      document.addEventListener('click', this.showSearchResults);

      const options = {
        method: 'GET',
      };
      fetch('/cart.js', options)
        .then((response) => {
          if (response.ok) {
            return response.json();
          } else {
            throw new Error(response.status);
          }
        })
        .then((data) => {
          this.cartCount = data.item_count;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  });
  appHeader.mount('#header');
</script>
<script>
  document.addEventListener('DOMContentLoaded', nav);
  function nav() {
    const nav = document.querySelector('.main-nav');
    const burger = document.querySelector('.burger');
    const burgerTablet = document.querySelector('.burger-tablet');
    const closeBurger = document.querySelector('.closeBurger');
    burger.addEventListener('click', () => {
      nav.classList.add('show');
    });
    burgerTablet.addEventListener('click', () => {
      nav.classList.add('show');
    });
    closeBurger.addEventListener('click', () => {
      nav.classList.remove('show');
    });
  }
</script>
<script>
  let acc = document.getElementsByClassName('accordion');
  let i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener('click', function () {
      this.classList.toggle('active');
      let panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + 'px';
      }
    });
  }
</script>
{% schema %}
{
  "name": "Custom Header",
  "class": "sticky top-0 z-30",
  "settings": [
    {
      "type": "text",
      "id": "name",
      "label": "Shop Name"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo Image"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "link_list",
      "id": "menu_links",
      "label": "Menu"
    }
  ]
}
{% endschema %}
