<section class="vertical-slideshow">
  <div class="grid place-items-center gap-0 mt-[40px] mb-[32px]">
    <h2 class="mb-[32px] title playfair font-normal text-[#3D5656]">{{ section.settings.section_title }}</h2>
    <div class="filter-container gap-0 uppercase grid grid-flow-col">
      <p class="filter-opt mr-[15px] filter-opt-active">New on Optic</p>
      <span class="bg-[#3D5656] w-[1px] h-[26px]"></span>
      <p class="filter-opt mx-[15px]">Top</p>
      <span class="bg-[#3D5656] w-[1px] h-[26px]"></span>
      <p class="filter-opt ml-[15px]">On Sale</p>
      {% comment %}
        {% for tag in section.settings.collection_product_list.all_tags %}
          <p>tag</p>
          <span>|</span>
        {% endfor %}
      {% endcomment %}
    </div>
  </div>
  <div class="products-container grid place-items-center">
    {% for product in section.settings.collection_product_list limit: 12 %}
      <div class="individual-product-container">
        <div class="w-[320px] grid place-items-center">
          <a href="{{product.url}}"><img src="{{product.featured_image | img_url: ''}}" alt=""></a>
        </div>
        <div class="my-[16px]">
          <p class="mb-[16px]">{{ product.title }}</p>
          <div class="grid grid-flow-col place-items-between">
            <p>
              {% if product.compare_at_price -%}
                <span>{{ product.compare_at_price | money }}</span>
              {%- endif -%}
              {{- product.price }}
            </p>
            {% render 'review-stars' %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <button>{{ section.settings.btn_text }}</button>
</section>

<style>
  .filter-opt-active {
    color: #272727;
  }
  .filter-opt {
    color: #a9a9a9;
    font-size: 12px;
  }
</style>
{% schema %}
{
  "name": "custom-vertical-slideshow",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Insert Section Title"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Insert button text"
    },
    {
      "type": "product_list",
      "id": "collection_product_list",
      "label": "Insert the products to be used"
    }
  ]
}
{% endschema %}
