<section class="vertical-slideshow">
  <div>
    <h2>{{ section.settings.section_title }}</h2>
    <div class="filter-container {{collection}}">
      {% for tag in collection.all_tags %}
        <p>tag</p>
        <span>|</span>
      {% endfor %}
    </div>
  </div>
  <div class="products-container">
    {% for product in collection.products limit: 12 %}
      <div class="individual-product-container">
        <a href="{{product.url}}"><img src="{{product.featured_image | img_url: ''}}" alt=""></a>
        <div>
          <p>{{ product.title }}</p>
          <div>
            <p>
              <span>{{ product.compare_at_price }}</span>{{ product.price }}
            </p>
            <div>
              <img src="" alt="">
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <button>{{ section.settings.btn_text }}</button>
</section>
{% schema %}
{
  "name": "custom-vertical-slideshow",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Insert Section Title"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Insert button text"
    }
  ]
}
{% endschema %}
