<footer>
  <h2>{{ section.settings.footer_title }}</h2>
  <div class="links-container grid place-items-center">
    {% for link in section.settings.footer_link_list %}
      <a href="{{link.url}}">{{ link.title }}</a>
    {% endfor %}
  </div>
  <div class="newsletter container grid place-items-center">
    {% if section.settings.newsletter_enabled %}
      <section class="newsletter-section">
        <div class="newsletter-wrapper">
          <h2>{{ section.settings.newsletter_heading }}</h2>
          <form action="/contact" method="post" class="newsletter-form" data-ajax-form>
            {{ form.errors | default_errors }}
            <input type="hidden" name="form_type" value="customer">
            <input type="hidden" name="utf8" value="✓">
            <input type="hidden" name="contact[tags]" value="newsletter">
            <input type="hidden" name="contact[source]" value="newsletter">
            <input
              type="email"
              name="contact[email]"
              placeholder="{{ 'general.newsletter_form.email' | t }}"
              required=""
            >
            <button type="submit" class="btn--submit">{{ 'general.newsletter_form.submit' | t }}</button>
          </form>
        </div>
      </section>
    {% endif %}
  </div>
  <p>{{ section.settings.footer_copyright_text }}</p>
</footer>

{% schema %}
{
  "name": "footer",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "footer_title",
      "label": "Insert footer title"
    },
    {
      "type": "link_list",
      "id": "footer_link_list",
      "label": "Choose the link list for the footer"
    },
    {
      "type": "checkbox",
      "id": "show_link_uppercase",
      "label": "Change word case",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "newsletter_enabled",
      "label": "Select if you want to show newsletter form",
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "label": "Insert newsletter heading"
    },
    {
      "type": "text",
      "id": "footer_copyright_text",
      "label": "Please insert the copyright text"
    }
  ]
}
{% endschema %}
