<footer class="grid place-items-center px-[20px]">
  <h2 class="poppins txt1 text-black mb-[32px]">{{ section.settings.footer_title }}</h2>
  <div class="links-container grid place-items-center">
    {% for block in section.blocks %}
      <div class="inner-link-list mb-[32px] grid place-items-center {%unless forloop.last %} gap-[8px] {%endunless%}">
        {% for link in block.settings.footer_menu_list.links %}
          <a class="josefin txt3 {% if section.settings.show_link_uppercase %} uppercase {%endif%}" href="{{link.url}}">
            {{- link.title -}}
          </a>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  <div class="newsletter container grid place-items-center mt-[32px]">
    {% if section.settings.newsletter_enabled %}
      <section class="newsletter-section">
        <div class="newsletter-wrapper grid place-items-center">
          <h2 class="josefin txt2 uppercase mb-[25px]">{{ section.settings.newsletter_heading }}</h2>
          <form
            class="w-full text-center"
            action="/contact"
            method="post"
            class="newsletter-form grid place-items-center"
            data-ajax-form
          >
            {{ form.errors | default_errors }}
            <input type="hidden" name="form_type" value="customer">
            <input type="hidden" name="utf8" value="✓">
            <input type="hidden" name="contact[tags]" value="newsletter">
            <input
              type="hidden"
              name="contact[source]"
              value="newsletter"
            >
            <input
              class="bg-[rgba(61,86,86,0.1)] w-full text-center px-[32px] py-[16px]"
              type="email"
              name="contact[email]"
              required=""
              placeholder="ADDRESS@YOUREMAIL.COM"
            >
            <button type="submit" class="btn--submit uppercase mb-[36px] mt-[16px]">subscribe</button>
          </form>
        </div>
      </section>
    {% endif %}
  </div>
  <p>{{ section.settings.footer_copyright_text }}</p>
</footer>
{% schema %}
{
  "name": "footer",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "footer_title",
      "label": "Insert footer title"
    },
    {
      "type": "checkbox",
      "id": "show_link_uppercase",
      "label": "Change word case",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "newsletter_enabled",
      "label": "Select if you want to show newsletter form",
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "label": "Insert newsletter heading"
    },
    {
      "type": "text",
      "id": "footer_copyright_text",
      "label": "Please insert the copyright text"
    }
  ],
  "blocks": [
    {
      "name": "menu_list",
      "type": "menu_list",
      "settings": [
        {
          "type": "link_list",
          "id": "footer_menu_list",
          "label": "Insert footer menu list"
        }
      ]
    }
  ]
}
{% endschema %}
